:root {
    --green: rgb(0, 171, 135);
    --green-light: rgb(0, 200, 141);
    --orange-light: rgb(234, 186, 102);
    --orange: rgb(255, 115, 102);
    ---light: rgb(142, 151, 255);
    --text-dark: rgb(0, 0, 0);
    --text-gray: rgb(166, 166, 166);
    --text-white: rgb(255, 255, 255);
}

body {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    min-height: 100vh;
}

.main-head {
    height: 400px;
    background-image: url(../src/img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.find-icon {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin: 40px 20px;
    padding: 0;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.main-title {
    font-size: 40px;
    font-weight: bold;
    color: var(--text-dark);
}

.minor-title {
    font-size: 14px;
    color: var(--text-gray);
}


.slider {
    width: 100%;
    height: 135px;
    overflow: hidden;
    color: white;
}

.slider-inner {
    position: absolute;
    height: 100%;
    width: 200%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    pointer-events: none;
}

.slide-img {
    width: 140px;
    height: 110px;
    text-align: center;
    border-radius: 25px;
}

.math,
.math-menu-card {
    background: #f1772c;
}

.math-menu {
    background: #f0c229;
}

.card-menu {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.dot {
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 90%;
    border-top-right-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.x {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 20px;
}

.subj {
    height: 50%;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.geo {
    background: #8196e7;
}

.geo-menu {
    background: #1f1869;
}

.che {
    background: #f0c229;
}

.che-menu {
    background: #3d0d6b;
}

.bio {
    background: #53d884;
}

.bio-menu {
    background: #1b5f34;
}


.card {
    border-radius: 25px;
    height: 200px;
    color: var(--text-white);
    margin-bottom: 30px;
}

.less-menu {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.card-menu-big {
    width: 25%;
    height: 100%;

}

.card-head {
    margin-bottom: 5px;
    font-size: 30px;
}

.place,
.teacher {
    justify-content: flex-start;
    height: 20%;
    gap: 20px;
    margin-bottom: 15px;
}

.teacher-foto {
    border-radius: 50%;
}

.footer {
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: var(--text-white);
    margin-top: auto;
}

.footer-svg {
    fill: #9a9a9a;
}

.home-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.active {
    width: 5px;
    height: 5px;
    background: #f1772c;
    border-radius: 50%;
}

.home {
    fill: #f1772c;
}

.home:hover,
.calendar:hover,
.comment:hover,
.user:hover {
    fill: #f1772c;
}