:root {
    --green: rgb(0, 171, 135);
    --green-light: rgb(0, 200, 141);
    --orange-light: rgb(234, 186, 102);
    --orange: rgb(255, 115, 102);
    --orange-best: orange;
    ---light: rgb(142, 151, 255);
    --text-dark: rgb(0, 0, 0);
    --text-gray: rgb(187, 187, 187);
    --text-white: rgb(255, 255, 255);
    --date-bg: #e3e3e3;
    --biolog: rgb(180, 28, 170);
}

body {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    min-height: 100vh;
}

.main-date {
    background: var(--date-bg);
    height: 150px;
}

.date {
    font-size: 60px;
    font-weight: bold;
}

.day {
    height: 30px;
}

.today-btn {
    color: var(--green);
    border: none;
    background: var(--text-white);
}

.main-calendar {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -25px;
    background-color: white;
    padding-top: 10px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.calend-day {
    color: var(--text-gray);
    font-size: 12px;
}

.calend-block {
    height: 65px;
}

.day-up {
    height: 25px;
}

.day-down {
    height: 25px;
}

.day-today {
    background: var(--orange-best);
    border-radius: 15px;
    width: 40px;
}

.title-time,
.lesson-time {
    width: 65px;
}

.title-course {
    width: 100%;
}

.title-svg {
    width: 50px;
}

.lesson-section,
.card-box {
    margin-right: 15px;
    padding-top: 10px;
}

.lesson-time {
    height: 100%;
    gap: 25px;
    border-right: 1px solid var(--text-gray);
}

.lesson-start,
.lesson-end {
    height: 20px;
}

.lesson-end {
    color: var(--text-gray);
}

.lesson {
    width: 100%;
    margin-bottom: 20px;
}

.card-box {
    color: var(--text-white);
    margin-left: 20px;
    border-radius: 30px;
    padding: 20px;
}

.card-box-math {
    background: var(--green);
}

.card-box-bio {
    background: var(--biolog);
}

.card-box-chem {
    background: var(--orange-light);
}

.card-box-geo {
    background: var(---light);
}

.dots {
    padding-right: 10px;
    width: 60px;
}

.lesson-text {
    width: 100%;
    font-size: 14px;
}

.lesson-place-img,
.lesson-teacher-img {
    width: 40px;
}

.lesson-teacher-foto {
    border-radius: 50%;
}

.lesson-place,
.lesson-teacher {
    font-size: 14px;
}

.scheduler-block {
    margin: 15px 0;
}

.footer {
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: var(--text-white);
    margin-top: auto;
}

.footer-svg {
    fill: #9a9a9a;
}

.home-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.active {
    width: 5px;
    height: 5px;
    background: #f1772c;
    border-radius: 50%;
}

.calendar {
    fill: #f1772c;
}

.home:hover,
.calendar:hover,
.comment:hover,
.user:hover {
    fill: #f1772c;
}